
{%- if page.permalink == "/" -%}
<div class="biography">
<p>Hi! I'm Ben Goldhaber. This is my "digital garden" where I publish my working notes, in particular principles
    and strategies I think are valuable.
</p>
<p>
There's no explicit structure - it's a hedge maze with wild vines overgrowing parts of the path, essays and ideas
scattered throughout the topiary.
</p>

<p> Things I've been thinking about recently:</p>
</div>
{%- for item in site.notes limit:5 -%}
<div class="feed-title-excerpt-block disable-select" data-url="{{site.url}}{{item.url}}">
    <a href="{{item.url}}" style="text-decoration: none; color: #333333;">
        {%- if item.status == "Draft" or item.status == "draft" -%}
        <ul style="padding-left: 20px; margin-top: 20px;" class="tags">
            <li style="padding: 0 5px; border-radius: 10px;" class="tag"><b>Status: </b>{{item.status | capitalize }}
            </li>
        </ul>
        <p style="margin-top: 0px;" class="feed-title">{{ item.title }}</p>
        {%- else -%}
        <p class="feed-title">{{ item.title }}</p>
        {%- endif -%}
        <p class="feed-excerpt">{{ item.content | strip_html | strip | escape | truncate: 200 }}</p>
    </a>
</div>
{%- endfor -%}
{%- endif -%}