<footer>
    <div class="col">
        <a href="/now">
            <p>Now</p>
        </a>
    </div>
    <div class="col">
        <a href="https://bengoldhaber.substack.com/">
            <p>Newsletter</p>
        </a>
    </div>
    <div class="col">
        <a href="https://twitter.com/bengoldhaber">
            <p><i class="fa fa-twitter"></i></p>
        </a>
    </div>
    <div class="col">
        <a href="https://github.com/ghabs">
            <p><i class="fa fa-github"></i></p>
        </a>
    </div>
</footer>
